body{
    font-style: italic;
    margin: 0;
    background: whitesmoke;
    text-align: center;
}
    <style>
        .box {
        display: flex;
        height: 200px;
        }
        .blue {
        width:65%;
        height: 200px;
        background-color: blue;
        }
        .yellow {
        width: 35%;
        height: 200px;
        background-color: yellow;
        }
    </style>
