@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

body{
   margin: 0;
   background: #111;
}
.sidebar{
   position: fixed;
   width: 250px;
   top: 0;
   left: -265px;
   bottom: 0;
   padding-top: 50px;
   transition: 0.4s;
   height:85%;
   margin:auto 10px;
   border-radius: 12px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.sidebar h1{
   display: block;
   padding: 10px 20px;
   color: #111;
   text-decoration: none;
   font-family: "Rubik";
   font-weight: 400;
   margin: 0;
   font-size: 20px;
}
.sidebar a{
   display: block;
   padding: 10px 20px;
   color: #bbb;
   text-decoration: none;
   font-family: "Rubik";
   letter-spacing: 2px;
}
.sidebar a:hover{
   color: #111;
   margin-left: 20px;
   transition: 0.4s;
}
button{
   position: fixed;
   right: 30px;
   top: 30px;
   padding: 10px;
   border-radius: 2px;
   outline: none;
   border: none;
   border-radius: 50%;
   cursor: pointer;
   box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
button span{
   height: 3px;
   width: 20px;
   display: block;
   margin: 6px;
   background: #111;
}
.show{
   left: 0;
}
.credit{
    position:fixed;
    left:40%;
    bottom:0;
    color: #111;
    padding-bottom:5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.credit >a{
    text-decoration: none;
    color:white
}
